<div class="container">
    <h1></h1>
    <form *ngIf="!enviado" (ngSubmit)="Envio()">
      <div class="form-group">
        <label for="name">Nombre del interesado</label>
        <input type="text" class="form-control" required
          [(ngModel)]="model.name"
          ngControl="name" #name="ngForm"
        >
        <div [hidden]="name.valid" class="alert alert-danger">
          Nombre es requerido
        </div>
        <label for="email">Email</label>
        <input type="email" class="form-control" required
          [(ngModel)]="model.email" name="email"
          ngControl="email" #email="ngForm" 
        >
        <div [hidden]="email.valid && !email.pristine" class="alert alert-danger">
          Email es requerido y debe tener un formato válido
        </div>
        <label for="tel">Teléfono</label>
        <input type="text" class="form-control" required
          [(ngModel)]="model.tel" name="tel" pattern="[0-9]*"
          ngControl="tel" min="8" max="16" size="8" minlength="8" maxlength="16" #tel="ngForm"
        >
        <div [hidden]="tel.valid" class="alert alert-danger">
          El teléfono es requerido y debe tener de 8 a 16 números
        </div>
      </div>
      <button type="submit"  class="btn btn-default" [disabled]="!email.valid || !tel.valid || !name.valid" >Submit</button>
    </form>
    <div *ngIf="enviado">
      Gracias {{model.name}}
    </div>
</div>
